# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.opendb
*.VC.db
*.ipch/
*.obj
*.log
*.pch
*.tlog
*.cache
*.ilk
*.exe
*.pdb
*.idb
*.aps
*.ncb
*.sdf
*.opensdf
*.sbr
*.res
*.db
.vs/
*.ipch
*.VC.db
*.suo
*.obj
*.pdb
*.exe
*.ilk
*.cache
*.tlog
*.log
